{
  "name": "SearchExporter",
  "version": "1.0.6",
  "description": "Manual export of Discord search results, page by page. Export + Scroll buttons at top.",
  "author": "Qubzy",
  "authorId": "69",
  "github": "https://github.com/Qubzy/DiscordSearchExporter",
  "currentVersionInfo": {
    "version": "1.0.6",
    "hasShownChangelog": true
  }
}
